<?xml version='1.0' encoding='utf-8'?>
<widget id="de.portcrash.notengalaxie" version="1.0.7" versionCode="10007" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Notengalaxie</name>
    <description>
        Notengalaxie EduGame.
    </description>
    <author email="rockdasboot@portcrash.de" href="https://portcrash.de/">
        Portcrash - Gamified Education
    </author>
    <content src="index.html" />
	<icon src="icon.png" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <access origin="https://*.portcrash.de" />
    <allow-navigation href="https://*.portcrash.de/*" />
    <allow-intent href="https://*.portcrash.de/*" />
</widget>
